html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.competition-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}

.competition-logo {
    max-height: 40px;
    display: block;
}
body {
    background-color: #6a6a6a;
    color: #fff;
}
.navbar {
    background-color: #d3d3d3;
}
.navbar-brand {
  color: #ff6600 !important;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover,
.nav-link:focus {
  color: #ff6600 !important;
}
h1, h2, h3, h4 {
  color: #ff6600;
}
.footer {
  background-color: #1d1f23;
  color: #777;
}
.table {
  color: #fff;
}
    .table th {
        background-color: #bebebe;
    }
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(255,255,255,0.05);
}
.btn-primary {
  background-color: #ff6600;
  border-color: #ff6600;
}